

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>MAPK (minimal) &mdash; Ras model 0.1 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  

  
    <link rel="top" title="Ras model 0.1 documentation" href="../../index.html"/>
        <link rel="up" title="MAPK" href="index.html"/>
        <link rel="next" title="MAPK module with MEK inhibition" href="mapk_manual.html"/>
        <link rel="prev" title="MAPK" href="index.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> Ras model
          

          
          </a>

          
            
            
              <div class="version">
                0.1
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../intro.html">Overview</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">The RAS Executable Model</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../egfr/index.html">EGFR</a></li>
<li class="toctree-l2"><a class="reference internal" href="../ras/index.html">Ras</a></li>
<li class="toctree-l2"><a class="reference internal" href="../raf/index.html">Raf</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">MAPK</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="">MAPK (minimal)</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#indra-assembled-model-components">INDRA-assembled model components</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="mapk_manual.html">MAPK module with MEK inhibition</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../scenarios/index.html">Model scenarios</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../experiments/index.html">Model analysis</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../references.html">References</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">Ras model</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          





<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../index.html">The RAS Executable Model (REM)</a> &raquo;</li>
      
          <li><a href="index.html">MAPK</a> &raquo;</li>
      
    <li>MAPK (minimal)</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../_sources/components/mapk/mapk_minimal.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="mapk-minimal">
<span id="id1"></span><h1>MAPK (minimal)<a class="headerlink" href="#mapk-minimal" title="Permalink to this headline">¶</a></h1>
<p>This passage was processed and assembled automatically by INDRA:</p>
<blockquote>
<div><p>RAF, bound to RAF, phosphorylates MEK1 at Ser218 and Ser222.
MEK1, phosphorylated at Ser218 and Ser222, is activated.
Active MEK1 phosphorylate
ERK2 at Tyr187 and Thr185.
PP2A-alpha dephosphorylates MEK1 at Ser218 and Ser222.
DUSP6 dephosphorylates ERK2 at Tyr187 and Thr185.</p>
</div></blockquote>
<div class="section" id="indra-assembled-model-components">
<h2>INDRA-assembled model components<a class="headerlink" href="#indra-assembled-model-components" title="Permalink to this headline">¶</a></h2>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">pysb</span> <span class="kn">import</span> <span class="n">Monomer</span><span class="p">,</span> <span class="n">Parameter</span><span class="p">,</span> <span class="n">Rule</span><span class="p">,</span> <span class="n">Annotation</span><span class="p">,</span> <span class="n">ANY</span>
<span class="kn">from</span> <span class="nn">pysb.util</span> <span class="kn">import</span> <span class="n">alias_model_components</span>

<span class="k">def</span> <span class="nf">mapk_minimal</span><span class="p">():</span>

    <span class="n">Monomer</span><span class="p">(</span><span class="s">u&#39;MAP2K1&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s">&#39;S218&#39;</span><span class="p">,</span> <span class="s">u&#39;ppp2ca&#39;</span><span class="p">,</span> <span class="s">&#39;raf&#39;</span><span class="p">,</span> <span class="s">&#39;S222&#39;</span><span class="p">,</span> <span class="s">u&#39;mapk1&#39;</span><span class="p">],</span>
                      <span class="p">{</span><span class="s">&#39;S218&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="s">&#39;p&#39;</span><span class="p">],</span> <span class="s">&#39;S222&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="s">&#39;p&#39;</span><span class="p">]})</span>

    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_rm_bind_1&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_rm_bind_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_rm_phos_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_rm_bind_2&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_rm_bind_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_rm_phos_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>

    <span class="n">alias_model_components</span><span class="p">()</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;RAF_phospho_bind_MAP2K1_S218_1&#39;</span><span class="p">,</span>
        <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">raf</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
            <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">raf</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
            <span class="n">kf_rm_bind_1</span><span class="p">,</span> <span class="n">kr_rm_bind_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;RAF_phospho_MAP2K1_S218_1&#39;</span><span class="p">,</span>
            <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">raf</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
            <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">raf</span><span class="o">=</span><span class="bp">None</span><span class="p">),</span>
            <span class="n">kc_rm_phos_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;RAF_phospho_bind_MAP2K1_S222_1&#39;</span><span class="p">,</span>
        <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
        <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">),</span>
        <span class="n">kf_rm_bind_2</span><span class="p">,</span> <span class="n">kr_rm_bind_2</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;RAF_phospho_MAP2K1_S222_1&#39;</span><span class="p">,</span>
        <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
        <span class="n">RAF</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="n">ANY</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">raf</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">),</span>
        <span class="n">kc_rm_phos_2</span><span class="p">)</span>

<span class="k">def</span> <span class="nf">erk_dynamics</span><span class="p">():</span>
    <span class="n">Monomer</span><span class="p">(</span><span class="s">u&#39;PPP2CA&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s">u&#39;map2k1&#39;</span><span class="p">])</span>
    <span class="n">Monomer</span><span class="p">(</span><span class="s">u&#39;MAPK1&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s">&#39;Y187&#39;</span><span class="p">,</span> <span class="s">u&#39;map2k1&#39;</span><span class="p">,</span> <span class="s">&#39;T185&#39;</span><span class="p">,</span> <span class="s">u&#39;dusp6&#39;</span><span class="p">],</span>
                      <span class="p">{</span><span class="s">&#39;Y187&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="s">&#39;p&#39;</span><span class="p">],</span> <span class="s">&#39;T185&#39;</span><span class="p">:</span> <span class="p">[</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="s">&#39;p&#39;</span><span class="p">]})</span>
    <span class="n">Monomer</span><span class="p">(</span><span class="s">u&#39;DUSP6&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s">u&#39;mapk1&#39;</span><span class="p">])</span>

    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_mm_bind_1&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_mm_bind_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_mm_phos_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_mm_bind_2&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_mm_bind_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_mm_phos_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_pm_bind_1&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_pm_bind_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_pm_dephos_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_pm_bind_2&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_pm_bind_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_pm_dephos_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_dm_bind_1&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_dm_bind_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_dm_dephos_1&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kf_dm_bind_2&#39;</span><span class="p">,</span> <span class="mf">1e-06</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kr_dm_bind_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>
    <span class="n">Parameter</span><span class="p">(</span><span class="s">u&#39;kc_dm_dephos_2&#39;</span><span class="p">,</span> <span class="mf">0.001</span><span class="p">)</span>

    <span class="n">alias_model_components</span><span class="p">()</span>


    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;MAP2K1_phospho_bind_MAPK1_Y187_1&#39;</span><span class="p">,</span>
            <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span>
            <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
            <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
            <span class="n">kf_mm_bind_1</span><span class="p">,</span> <span class="n">kr_mm_bind_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;MAP2K1_phospho_MAPK1_Y187_1&#39;</span><span class="p">,</span>
            <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
            <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span>
            <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">),</span>
            <span class="n">kc_mm_phos_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;MAP2K1_phospho_bind_MAPK1_T185_1&#39;</span><span class="p">,</span>
        <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span>
        <span class="n">MAPK1</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">T185</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
        <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span> <span class="n">T185</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">),</span>
        <span class="n">kf_mm_bind_2</span><span class="p">,</span> <span class="n">kr_mm_bind_2</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;MAP2K1_phospho_MAPK1_T185_1&#39;</span><span class="p">,</span>
        <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span> <span class="n">T185</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
        <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span>
        <span class="n">MAPK1</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">T185</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">),</span> <span class="n">kc_mm_phos_2</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;PPP2CA_dephos_bind_map2k1_S218_1&#39;</span><span class="p">,</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">ppp2ca</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">ppp2ca</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
        <span class="n">kf_pm_bind_1</span><span class="p">,</span> <span class="n">kr_pm_bind_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;PPP2CA_dephos_map2k1_S218_1&#39;</span><span class="p">,</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">ppp2ca</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">S218</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">ppp2ca</span><span class="o">=</span><span class="bp">None</span><span class="p">),</span>
        <span class="n">kc_pm_dephos_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;PPP2CA_dephos_bind_map2k1_S222_1&#39;</span><span class="p">,</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">ppp2ca</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">ppp2ca</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">),</span>
        <span class="n">kf_pm_bind_2</span><span class="p">,</span> <span class="n">kr_pm_bind_2</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;PPP2CA_dephos_map2k1_S222_1&#39;</span><span class="p">,</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">ppp2ca</span><span class="o">=</span><span class="mi">1</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
        <span class="n">PPP2CA</span><span class="p">(</span><span class="n">map2k1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAP2K1</span><span class="p">(</span><span class="n">ppp2ca</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">S222</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">),</span>
        <span class="n">kc_pm_dephos_2</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;DUSP6_dephos_bind_MAPK1_Y187_1&#39;</span><span class="p">,</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
        <span class="n">kf_dm_bind_1</span><span class="p">,</span> <span class="n">kr_dm_bind_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;DUSP6_dephos_MAPK1_Y187_1&#39;</span><span class="p">,</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">Y187</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="bp">None</span><span class="p">),</span> <span class="n">kc_dm_dephos_1</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;DUSP6_dephos_bind_MAPK1_T185_1&#39;</span><span class="p">,</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">T185</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">&lt;&gt;</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">T185</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
        <span class="n">kf_dm_bind_2</span><span class="p">,</span> <span class="n">kr_dm_bind_2</span><span class="p">)</span>

    <span class="n">Rule</span><span class="p">(</span><span class="s">u&#39;DUSP6_dephos_MAPK1_T185_1&#39;</span><span class="p">,</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">%</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">T185</span><span class="o">=</span><span class="s">&#39;p&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span> <span class="o">&gt;&gt;</span>
        <span class="n">DUSP6</span><span class="p">(</span><span class="n">mapk1</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">+</span> <span class="n">MAPK1</span><span class="p">(</span><span class="n">T185</span><span class="o">=</span><span class="s">&#39;u&#39;</span><span class="p">,</span> <span class="n">dusp6</span><span class="o">=</span><span class="bp">None</span><span class="p">),</span> <span class="n">kc_dm_dephos_2</span><span class="p">)</span>


    <span class="n">Annotation</span><span class="p">(</span><span class="n">PPP2CA</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/pfam/PF00149&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">PPP2CA</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/uniprot/P63330&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">PPP2CA</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/hgnc/HGNC:9299&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">MAP2K1</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/uniprot/Q02750&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">MAP2K1</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/hgnc/HGNC:6840&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">MAPK1</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/pfam/PF00069&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">MAPK1</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/uniprot/P63085&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">MAPK1</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/hgnc/HGNC:6871&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">DUSP6</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/uniprot/Q16828&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
    <span class="n">Annotation</span><span class="p">(</span><span class="n">DUSP6</span><span class="p">,</span> <span class="s">&#39;http://identifiers.org/hgnc/HGNC:3072&#39;</span><span class="p">,</span> <span class="s">&#39;is&#39;</span><span class="p">)</span>
</pre></div>
</div>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="mapk_manual.html" class="btn btn-neutral float-right" title="MAPK module with MEK inhibition" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral" title="MAPK" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2015, Sorger Lab.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'0.1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>